<header>
    <nav class="scroll-animate">
        <div>
            <div>
                <a href="<%= route %>" id="portfolio-head-icon" class="opacity-hover">
                    <img src="/images/Portfolio-logo.png" alt="Logo portfolio">
                </a>
                <a href="<%= route %>" class="opacity-hover long"><%= pageHeader %></a>
                <a href="<%= route %>" class="opacity-hover short"><%= pageHeaderShort %></a>

            </div>
            <span class="menu opacity-hover noselect">&lt;span&gt;<span class="menu code-gray">MENU</span>&lt;/span&gt;</span>
            <div class="menu-unfold">
                <ul>
                    <li class="unfold-nav opacity-hover"><a href="/">HOME</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/cv">CV</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/examens">E4/E5</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/veille">VEILLE</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/projects">PROJECTS</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/articles">ARTICLES</a></li>
                    <li class="unfold-nav opacity-hover"><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script type="module" defer src="/javascripts/main-animator.min.js"></script>