<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/admin-style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <%-
        include("partials/header", { pageHeader: "Admin", pageHeaderShort: "Admin", route: "/admin" })
    %>
    <main>

        <h1>GUTENTAG <%= user.username %></h1>

        <form action="/newcvline" method="post">
            <input type="text" name="title" placeholder="Enter title">
            <input type="text" name="content_level" placeholder="Enter content level">
            <input type="submit" value="submit">
        </form>

        <h2>Selection de la date du log</h2>
        <div class="time-select__inputs__container">
            <form action="/admin/logs/select" method="post">
                <input type="text" class="time-select__input" id="time-select__input__start" placeholder="Début" name="from">
                <input type="text" class="time-select__input" id="time-select__input__end" placeholder="Fin" name="to">
                <input type="submit" value="submit">
            </form>
        </div>

        <h2>Les logs</h2>
        <table border="1px solid black">
            <tr>
                <th>IP</th>
                <th>URL</th>
                <th>DATE</th>
            </tr>
            <% Object.values(logs).forEach(log => { %>
                <tr>
                    <td><%= log.ip %></td>
                    <td><%= log.url %></td>
                    <td>
                        <%= log.visit_time %>
                    </td>
                    <td>
                        <form action="/admin/logs/del" method="post">
                            <input type="hidden" name="id" value="<%= log.id %>">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
            <% });%>
        </table>
    </main>
    <%- include("partials/footer") %>
</body>
</html>