<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/articles-style.css">
    <link rel="stylesheet" href="/stylesheets/stackoverflow-light.css">

</head>
<body>

<%- include("partials/header", {pageHeader: "Articles", pageHeaderShort: "Articles", route:"/articles"}) %>

<main>
    <div class="home-section">
        <h1>All my Articles</h1>
    </div>
    <div id="article-cards-all-container">
        <% articles.forEach(async (article) => { %>
            <div class="article-card-container home-section shadow-section">
                <img src="/images/articles/<%= article.img %>" alt="<%= article.title %> image">
                <h2 class="article-title"><%= article.title %></h2>
                <h3 class="article-description"><%= article.description %></h3>
                <div class="article-content"><%-article.body%></div>
            </div>
        <% }); %>
    </div>
</main>

<%- include("partials/footer") %>

</body>
</html>
