<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Articles Baptiste Grimaldi"}) %>
    <link rel="stylesheet" href="/stylesheets/articles-style.css">

    <script type="module" defer src="/javascripts/main-animator.min.js"></script>
</head>
<body>

<%- include("partials/header", {pageHeader: "Articles", pageHeaderShort: "Articles", route:"/articles"}) %>

<main>
    <div class="home-section">
        <h1>All my Articles</h1>
    </div>
    <div id="article-cards-all-container">
        <% articles.forEach(async (article) => { %>
            <div class="article-card-container home-section shadow-section">
                <img src="/images/articles/<%= article.img %>" alt="<%= article.title %> image">
                <h2 class="article-title"><%= article.title %></h2>
                <h3 class="article-description"><%= article.description %></h3>
                <div class="article-content"><%-article.body%></div>
            </div>
        <% }); %>
    </div>
</main>

<%- include("partials/footer") %>

</body>
</html>
