<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/home-style.css">
    <%- include("partials/threeJS") %>
    <script defer type="module" src="/javascripts/index-scripts.js"></script>
    <% include("partials/general-js") %>
</head>
<body>
    <header class="shadow-section">
        <nav class="scroll-animate">
            <div>
                <div>
                    <span class="code-number">1.</span><a href="/" id="portfolio-head-icon" class="opacity-hover">&lt;img <span class="code-gray">src</span>=<span class="code-green">"logo.svg"</span>&gt;</a>
                    <a href="/" class="code-gray opacity-hover"><%= pageHeader %></a>
                </div>
                <span class="menu opacity-hover noselect">&lt;span&gt;<span class="menu code-gray">MENU</span>&lt;/span&gt;</span>
                <div class="menu-unfold">
                    <ul>
                        <li class="nav-element opacity-hover"><a href="/">HOME</a></li>
                        <li class="nav-element opacity-hover"><a href="/cv">CV</a></li>
                        <li class="nav-element opacity-hover"><a href="/projects">PROJECTS</a></li>
                        <li class="nav-element opacity-hover"><a href="/articles">ARTICLES</a></li>
                        <li class="nav-element opacity-hover"><a href="/doc">DOC</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="landing-page">
            <div><span class="code-number">2.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">3.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">4.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">5.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">6.</span><span class="code-center animate pop"><span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>&lt;h1&gt;<h1>PORTFOLIO</h1>&lt;/h1&gt;<span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span></span></div>
            <div><span class="code-number">7.</span><span class="code-center animate pop delay"><span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>&lt;h1&gt;<h1><span>GRIMALDI BAPTISTE</span><span>GrimalDev</span></h1>&lt;/h1&gt;<span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span></span></div>
            <div><span class="code-number">8.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">9.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">10.</span><span>&lt;br&gt;</span></div>
            <div>
                <span class="code-number">11.</span>
                <span class="code-center animate">
                    <span class="fake-center-tag">&lt;center&gt;<span class="fake-span-tag">&lt;span&gt;</span></span>
                    &lt;h2&gt;
                    <span class="code-gray animate lure-to-scroll">
                        <h2 id="header-formore-scroll">Scroll to see how this page was made</h2>
                        <h2 id="header-formore-swipe">Swipe for more</h2>
                    </span>
                    &lt;/h2&gt;
                    <span class="fake-center-tag"><span class="fake-span-tag">&lt;/span&gt;</span>&lt;/center&gt;</span>
                </span>
            </div>
            <div><span class="code-number">12.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">13.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">14.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">15.</span><span>&lt;br&gt;</span></div>
            <div><span class="code-number">16.</span><span>&lt;br&gt;</span></div>
        </div>
    </header>
    <main>
        <div id="articles-section" class="home-section shadow-section">
            <div id="articles-title">
                <h2>MY LATEST ARTICLES</h2>
                <h2>MY LATEST ARTICLES</h2>
            </div>
            <div id="article-cards-all-container">
                <% lastArticles.forEach(obj => { %>
                    <div class="article-card-container">
                        <img src="/images/articles/<%= obj.img %>" alt="<%= obj.title %> image">
                        <span class="article-title"><%= obj.title %></span>
                        <span class="article-description"><%= obj.description %></span>
                    </div>
                <% }); %>
            </div>
            <div><span id="articles-responsive-hover">HOVER</span><span id="articles-responsive-tap">TAP</span> TO SEE MORE</div>
        </div>
        <div id="presentation" class="home-section shadow-section">
<!--            <div class="layer-back seen"></div>-->
            <canvas class="ddd-head"></canvas>
            <div id="presentation-description">
                Bonjour! I am a french fullstack web developer. <br>
                I am still junior and am always looking for new ways to improve and enhance my skills. <br>
                Not just in programming but also my human, co-working and self-motivation skills. <br>
                I hope this website will give you a good expression of what I can do. <br>
            </div>
        </div>
        <div id="technologies" class="home-section shadow-section">
            <h1>TECHNOLOGIES I USE</h1>
            <div id="techno-bubbles">
                <span class="very-known opacity-hover">PHP</span>
                <span class="very-known opacity-hover">NodeJS</span>
                <span class="learning opacity-hover">VueJS</span>
                <span class="very-known opacity-hover">Javascript</span>
                <span class="very-known opacity-hover">CSS</span>
                <span class="known opacity-hover">SQL</span>
                <span class="very-known opacity-hover">Docker</span>
                <span class="known opacity-hover">Bootstrap</span>
            </div>
            <h2><span id="technologies-responsive-click">Click</span><span id="technologies-responsive-tap">Tap</span> to see more projects</h2>
        </div>
        </main>
    <%- include("partials/footer") %>
</body>
</html>