<!doctype html>
<html lang="fr">
<head>
    <%- include("partials/head", {title: "Article " + project.title}) %>
    <link rel="stylesheet" href="/stylesheets/project-single-style.css">
    <title>Portfolio</title>

    <script type="module" defer src="/javascripts/main-animator.min.js"></script>
    <script type="application/javascript">
      const init = () => {
        //notion has special classes that behave badly in an iframe
        notionIntegration();

        //resize the iframe to barely fit its content
        resizeIFrameToFitContent();
      }

      function notionIntegration() {

        //add target="_parent" to the iframe's every links except is class table_of_contents-link is there
        const iFrame = document.getElementById('article-body__iframe');
        const iFrameLinks = iFrame.contentWindow.document.getElementsByTagName('a');
        for (let i = 0; i < iFrameLinks.length; i++) {
          if (!iFrameLinks[i].classList.contains('table_of_contents-link')) {
            iFrameLinks[i].setAttribute('target', '_parent');
          }

          //if the links parent node is a div with class source
            if (iFrameLinks[i].parentNode.classList.contains('source')) {
                iFrameLinks[i].setAttribute('target', '_blank');
            }
        }

        //if there is a div with class source in the iframe, create an iframe with the source's url
        const sourceDivs = iFrame.contentWindow.document.querySelectorAll('div.source');

        //number of items in the sourceDivs array
        const sourceDivsLength = sourceDivs.length;

        for (let i = 0; i < sourceDivsLength; i++) {
            //get the url from the href attribute of the child a tag
            const sourceUrl = sourceDivs[i].querySelector('a').getAttribute('href');

            //create the iframe to hold the preview
            const sourceIframe = document.createElement('iframe');
            sourceIframe.classList.add('source__iframe');
            sourceIframe.setAttribute('src', sourceUrl);
            sourceIframe.setAttribute('frameborder', '0');
            sourceIframe.setAttribute('allowfullscreen', 'true');
            sourceIframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture');

            sourceIframe.style.width = '100%';
            sourceIframe.style.height = '30rem';

            //only put the iframe in the div
          sourceDivs[i].innerHTML = '';
          sourceDivs[i].appendChild(sourceIframe);
        }

        //apply notion fix stylesheet to the iframe
        const iFrameHead = iFrame.contentWindow.document.getElementsByTagName('head')[0];
        const notionFixStyle = document.createElement('link');
        notionFixStyle.setAttribute('rel', 'stylesheet');
        notionFixStyle.setAttribute('href', '/stylesheets/notion-fixes.css');
        iFrameHead.appendChild(notionFixStyle);
      }

      //resize the iframe to barely fit its content
      function resizeIFrameToFitContent() {
        const iFrame = document.getElementById('article-body__iframe');

        iFrame.height = iFrame.contentWindow.document.body.scrollHeight + 20;
      }
      window.addEventListener('load', init);
    </script>
</head>
<body>
<%- include("partials/header", {pageHeader: "E4 / E5", pageHeaderShort: "E4/E5", route:"/examens"}) %>

<main>
    <div class="project__image" style="background-image: url('/articles_media/direct_images/<%= project.img %>')">
        <div class="project__header">
            <p class="project__title"><%= project.title %></p>
            <div class="project__description"><%- project.description %></div>
        </div>
    </div>
    <div class="project__body">
        <%- project.body %>
    </div>
</main>

<%- include("partials/footer") %>
</body>
</html>