<!doctype html>
<html lang="fr">
<head>
    <%- include("partials/head", {title: "Article " + project.title}) %>
    <link rel="stylesheet" href="/stylesheets/project-single-style.css">
    <title>Portfolio</title>

    <script type="module" defer src="/javascripts/main-animator.min.js"></script>
</head>
<body>
<%- include("partials/header", {pageHeader: "E4 / E5", pageHeaderShort: "E4/E5", route:"/examens"}) %>

<main>
    <div class="project__image" style="background-image: url('/images/articles/<%= project.img %>')">
        <div class="project__header">
            <p class="project__title"><%= project.title %></p>
            <p class="project__description"><%= project.description %></p>
        </div>
    </div>
    <p class="project__body"><%- project.body %></p>
</main>

<%- include("partials/footer") %>
</body>
</html>